.footer{
  height: 35px;
  border-top: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  background-color: #f8f8f8;
  li{
    flex: 1;
    line-height: 36px;
    font-size: 12px;
    text-align: center;
    a{
      text-decoration: none;
      color: #333;
    }
    &.active{
      color: red;
    }
  }
}
